.display-3 i {
    color: #3498db;
    margin-right: 10px;
}

.btn-primary {
    background: #3498db;
}

.btn-primary:hover {
    background: #2d83bd;
}

.btn-block i {
    margin-right: 10px;
}

.card {
    margin-bottom: 10px;
}

    .card img {
        height: 200px;
    }

.container {
    padding-right: 0;
    padding-left: 0;
}

.col-3 {
    /* display: flex;
    flex-wrap: wrap; */
    max-width: 33%;
}

#error {
    display: none;
}

.user_img {
    position: relative;
}

.age_span {
    background-color: rgba(0, 0, 0, 0.342);
    border: 1px solid rgba(143, 128, 128, 0.795);
    border-radius: 100%;
    color: white;
    padding: 5px 8px;
    position: absolute;
    right: 5px;
    top: 147px;
}